<template>
  <div>
    <div class="main-layout flex flex-col min-h-screen overflow-x-hidden">
      <div class="fixed top-0 w-full z-10">
        <Constraint size="lg">
          <Topbar />
        </Constraint>
      </div>
      <main class="flex-grow mt-16">
        <NuxtPage/>
      </main>
      <UDivider />
      <Constraint size="lg">
        <bottom-footer/>
      </Constraint>
    </div>
  </div>
</template>

<script setup>

</script>
