<script setup>
import { ref, toRefs } from 'vue'

const props = defineProps({
  tabs: {
    type: Array,
    required: true
  }
})

// Map your tabs data into the format expected by UTabs
const items = props.tabs.map(tab => ({
  label: tab.name,
  slot: tab.slot
}))

const activeTab = ref(items[0]?.label || '')


</script>

<template>
  <div>
    <div class="flex justify-around">
      <label
          v-for="(tab, index) in tabs"
          :key="index"
          :class="[
          'flex-1 py-4 text-center text-md sm:text-sm md:text-2xl lg:text-2xl font-semibold cursor-pointer hover:text-blue-200',
          activeTab === tab.name ? 'border-b-2 border-blue-400 text-blue-200' : 'border-b-2 border-gray-600 text-gray-500'
        ]"
          @click="activeTab = tab.name"
      >
        {{ tab.name }}
      </label>
    </div>

    <div v-for="(tab, index) in tabs" :key="index" v-show="activeTab === tab.name" class="w-full rounded-box">
      <slot :name="tab.slot"></slot>
    </div>
  </div>
</template>

<style scoped>

</style>
