<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
    <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250.79 70.63" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
      <g id="Layer_1-2" data-name="Layer 1">
        <g>
          <g>
            <path class="cls-3" d="M135.92,21.38h8.95v31.07h-8.95v-31.07Z"/>
            <g>
              <path class="cls-1" d="M130.16,34.06c-.97-1.76-2.35-3.27-4.01-4.39,2.06-2.33,3.27-5.41,3.12-8.8-.3-6.71-6.05-11.88-12.79-11.88h-18.66v43.46h21.35c6.9,0,12.49-5.57,12.49-12.45,0-2.15-.54-4.17-1.51-5.94ZM117.79,45.07h-11.01v-10.67h10.95c2.88,0,5.31,2.28,5.31,5.34s-2.43,5.33-5.25,5.33ZM115.45,27.03h-8.67v-10.66h8.61c2.88,0,5.31,2.27,5.31,5.33,0,3.02-2.43,5.33-5.25,5.33Z"/>
              <path class="cls-1" d="M250.79,10.28h-10.3l-8.05,12.85-8.04-12.85h-10.3l13.2,21.09-13.2,21.09h10.3l8.04-12.85,8.05,12.85h10.3l-13.19-21.09,13.19-21.09Z"/>
              <path class="cls-1" d="M176.81,35.17v17.28h-8.95v-18.83c0-2.74-2.27-4.95-5.04-4.87-2.67.08-4.73,2.41-4.73,5.07v18.62h-8.95v-31.07h8.95v1.48c2.02-.95,4.26-1.48,6.64-1.48,1.19,0,2.35.13,3.46.39,4.96,1.13,8.47,5.54,8.59,10.61.02.91.03,1.85.03,2.8Z"/>
            </g>
            <path class="cls-3" d="M135.92,8.99h8.95v8.92h-8.95v-8.92Z"/>
            <path class="cls-1" d="M211.7,21.38h-15.44c-.05,0-.1,0-.15,0-8.61,0-15.59,6.96-15.59,15.54s6.91,15.47,15.45,15.53c.04,0,.08,0,.13,0,3.32,0,6.64.97,6.64,3.85s-3.01,5.41-6.64,5.41-6.64-2.96-6.64-6.62h-8.95c0,8.58,6.98,15.54,15.59,15.54s15.59-6.96,15.59-15.54c0,0,.17-4.64-3.78-8.04,2.36-2.72,3.78-6.26,3.78-10.14,0-3-.85-5.79-2.32-8.16h2.33v-7.38ZM196.11,43.53c-3.67,0-6.64-2.96-6.64-6.62s2.97-6.62,6.64-6.62,6.64,2.96,6.64,6.62-2.98,6.62-6.64,6.62Z"/>
          </g>
          <g>
            <path class="cls-2" d="M82.95,0c-9.58,0-19.04,2.41-27.39,6.98-4.47,2.45-8.59,5.48-12.26,9.03-.86.83-1.71,1.7-2.52,2.59-2.7,2.97-5.1,6.23-7.11,9.68-.71,1.24-1.51,2.45-2.35,3.6-.11.15-.22.3-.34.45-7.41,9.78-18.71,15.38-30.98,15.38v18.06c9.58,0,19.04-2.41,27.39-6.98,4.46-2.44,8.58-5.48,12.26-9.03.86-.83,1.71-1.7,2.52-2.59,2.71-2.97,5.09-6.22,7.11-9.68l.13-.22c.68-1.16,1.43-2.3,2.22-3.38.11-.15.22-.3.34-.46,7.41-9.77,18.71-15.38,30.98-15.38V0Z"/>
            <path class="cls-4" d="M82.95,47.72c-12.28,0-23.57-5.61-30.99-15.38-.11-.15-.22-.3-.34-.46-.84-1.15-1.64-2.36-2.35-3.6-2.01-3.45-4.41-6.71-7.11-9.68-.81-.88-1.65-1.75-2.52-2.58-3.67-3.54-7.79-6.58-12.26-9.03C19.04,2.42,9.58,0,0,0v18.06c12.28,0,23.57,5.6,30.99,15.38.12.15.22.3.34.45.8,1.08,1.55,2.22,2.22,3.37l.14.24c2.01,3.45,4.4,6.7,7.1,9.67.81.88,1.65,1.75,2.52,2.58,3.67,3.54,7.8,6.59,12.26,9.03,8.34,4.57,17.81,6.98,27.39,6.98v-18.06Z"/>
          </g>
        </g>
      </g>
    </svg>
</template>

<style scoped>

</style>