<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
  <svg fill="none" height="45" viewBox="0 0 131 45" width="131"
       xmlns="http://www.w3.org/2000/svg"
       :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]"
  >
    <g>
      <path
          d="M28.3666 0H16.9174C7.57418 0 0 7.52668 0 16.8113V28.1887C0 37.4733 7.57418 45 16.9174 45H28.3666C37.7098 45 45.284 37.4733 45.284 28.1887V16.8113C45.284 7.52668 37.7098 0 28.3666 0Z"
          fill="white"></path>
      <path clip-rule="evenodd" d="M34.5781 15.4907C38.0707 18.973 38.0707 24.7098 34.5781 28.2215L30.6473 32.1426H24.8088L31.6448 25.324C33.5521 23.4212 33.5521 20.2896 31.6448 18.3882C29.7375 16.4857 26.6274 16.4857 24.721 18.3882L20.5347 22.4404L19.0225 23.978C18.2299 24.7976 16.9745 24.7976 16.1826 23.978C15.3609 23.1874 15.3102 21.8453 16.1024 21.0547L17.1503 19.9427L21.7864 15.4907C25.3074 11.979 31.0575 11.979 34.5781 15.4907ZM20.4752 12.8569L13.6391 19.6756C11.7318 21.5784 11.7318 24.71 13.6391 26.6114C15.5465 28.5139 18.6566 28.5139 20.5629 26.6114L24.7493 22.5591L26.2615 21.0216C27.0541 20.202 28.3094 20.202 29.1014 21.0216C29.9231 21.8122 29.9738 23.1543 29.1815 23.9449L28.1337 25.0569L23.4976 29.5089C19.9766 33.0206 14.2265 33.0206 10.7058 29.5089C7.2133 26.0266 7.2133 20.2898 10.7058 16.7781L14.6367 12.8569L20.4752 12.8569Z"
            fill="#0A0A0A"
            fill-rule="evenodd"></path>
      <path
          d="M130.95 24.4668C130.95 24.8365 130.925 25.2308 130.876 25.5511H121.576C121.799 27.9415 123.238 29.4693 125.37 29.4693C126.809 29.4693 127.875 28.8533 128.619 27.3747L130.603 28.0893C129.71 30.2333 127.85 31.3176 125.37 31.3176C121.601 31.3176 119.295 28.459 119.295 24.7872C119.295 21.1154 121.576 18.2568 125.345 18.2568C128.668 18.2568 130.95 20.5486 130.95 24.4668ZM125.345 20.1051C123.287 20.1051 121.899 21.5097 121.601 23.7768H128.817C128.619 21.4358 127.255 20.1051 125.345 20.1051Z"
          fill="white"></path>
      <path
          d="M112.556 36.2461C109.705 36.2461 107.547 35.014 106.778 32.8454L108.812 32.1061C109.333 33.634 110.622 34.3979 112.556 34.3979C114.639 34.3979 115.954 33.2643 115.954 31.0958V28.4836H115.78C114.912 29.9622 113.548 30.8247 111.614 30.8247C108.39 30.8247 106.282 28.3111 106.282 24.5408C106.282 20.7704 108.39 18.2568 111.614 18.2568C113.523 18.2568 114.912 19.1193 115.78 20.5979H115.954L116.202 18.5033H118.31C118.186 20.7458 118.186 22.7911 118.186 24.9597V31.1697C118.186 34.2254 116.152 36.2461 112.556 36.2461ZM112.234 28.8533C114.515 28.8533 115.954 27.0543 115.954 24.5161C115.954 21.9779 114.515 20.2283 112.234 20.2283C109.953 20.2283 108.514 22.0025 108.514 24.5408C108.514 27.079 109.953 28.8533 112.234 28.8533Z"
          fill="white"></path>
      <path
          d="M96.2429 31.0711H94.0111V25.2061C94.0111 22.9636 94.0111 20.7458 93.8871 18.5033H95.9949L96.2429 20.5979H96.4165C97.3093 19.0947 98.8716 18.2568 100.607 18.2568C103.509 18.2568 105.294 19.9818 105.294 23.6783V31.0711H103.062V23.8015C103.062 21.4111 101.947 20.2283 100.012 20.2283C97.7556 20.2283 96.2429 21.9779 96.2429 24.1711V31.0711Z"
          fill="white"></path>
      <path
          d="M91.1476 16.7783C90.2053 16.7783 89.4613 16.0883 89.4613 15.1765C89.4613 14.2647 90.2053 13.5747 91.1476 13.5747C92.0899 13.5747 92.8091 14.2647 92.8091 15.1765C92.8091 16.0883 92.0899 16.7783 91.1476 16.7783ZM92.2635 31.0711H90.0317V18.5033H92.2635V31.0711Z"
          fill="white"></path>
      <path
          d="M88.371 22.6679V24.3683C88.371 26.6108 88.371 28.8286 88.495 31.0711H86.6351L86.3871 28.804H86.2135C85.42 30.3811 83.9321 31.3176 81.8986 31.3176C79.4188 31.3176 77.7821 29.839 77.7821 27.6211C77.7821 25.2061 79.518 23.7522 83.089 23.5551L86.2135 23.3826V22.7418C86.2135 20.9183 84.8992 20.1051 83.2377 20.1051C81.4771 20.1051 80.3611 20.9429 79.8404 22.5201L77.9061 21.8301C78.4765 19.489 80.6339 18.2568 83.2377 18.2568C86.4367 18.2568 88.371 19.8586 88.371 22.6679ZM82.2706 29.4201C84.4529 29.4201 86.1391 27.6211 86.2135 25.1568L83.4361 25.3293C81.2787 25.4772 79.9396 26.0686 79.9396 27.5472C79.9396 28.7054 80.8323 29.4201 82.2706 29.4201Z"
          fill="white"></path>
      <path
          d="M72.008 18.257C74.9094 18.257 76.6949 19.982 76.6949 23.6784V31.0713H74.463V23.8016C74.463 21.4113 73.3471 20.2284 71.4128 20.2284C69.1562 20.2284 67.6435 21.9781 67.6435 24.1713V31.0713H65.4116V13.8213H67.6435V17.7149L67.5443 20.5981H67.8171C68.7346 19.0702 70.2721 18.257 72.008 18.257Z"
          fill="white"></path>
      <path
          d="M58.9446 31.3176C55.1753 31.3176 52.869 28.459 52.869 24.7872C52.869 21.1154 55.1753 18.2568 58.9446 18.2568C61.4492 18.2568 63.4827 19.4643 64.3011 22.0518L62.1684 22.8158C61.5236 21.0168 60.4077 20.2283 58.9446 20.2283C56.6384 20.2283 55.1009 22.0272 55.1009 24.7872C55.1009 27.5472 56.6384 29.3461 58.9446 29.3461C60.4077 29.3461 61.598 28.5576 62.2924 26.7586L64.4251 27.5226C63.5819 30.0854 61.3749 31.3176 58.9446 31.3176Z"
          fill="white"></path>
    </g>
  </svg>
</template>

<style scoped>

</style>