<script setup>

const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-blue-500'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-blue-500'
  }
})
</script>

<template>
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 445.71 53.56" :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]">
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <path class="cls-1" d="M183.59,26.7v26.7h16.66V0h-16.66v26.7Z"/>
        <path class="cls-1" d="M433.66,7.14v7.14h-3.44l-15.29-6.99-15.29-6.99h-10.61v16.07h10.28l15.47,6.62,15.49,6.62h15.44V0h-12.05v7.14Z"/>
        <path class="cls-1" d="M63.09,11.19v11.05s2.6,2.74,2.6,2.74c1.43,1.5,2.6,2.78,2.6,2.83s-1.2,1.13-2.68,2.4l-2.66,2.31v10.44s-.01,10.46-.01,10.46h11.9v-12.35l2.32-2.83,2.32-2.83h5.46c3.01,0,8.27.04,11.71.1l6.23.1,2.42,2.6,2.41,2.62v12.57h11.9v-20.95l-2.75-2.34c-1.53-1.28-2.75-2.38-2.72-2.44s1.26-1.25,2.75-2.63l2.72-2.51V.15h-11.9v14.36l-2.5,2.5-2.48,2.48h-22.81l-2.47-2.32-2.47-2.32V.15h-11.9v11.04Z"/>
        <path class="cls-1" d="M264.07,26.78v26.63h11.6v-11.01h27.89l2.57,2.57,2.56,2.56v4.39h11.6v-11.23l-6.44-6.72-6.43-6.72h-15.95s-15.96-.01-15.96-.01v-10.71h27.95l2.5,2.93,2.5,2.95.07,1.84.07,1.84,5.5-.03c3.03-.01,5.65-.07,5.85-.12l.33-.07v-5.76s-.01-5.74-.01-5.74l-6.49-7.11-6.47-7.1h-43.26v26.63Z"/>
        <path class="cls-1" d="M.01,8.63v8.33h57.27V.3H.01v8.33Z"/>
        <path class="cls-1" d="M123.79,8.33v8.03l20.96.03,20.98.04-1.12,1.44-1.12,1.46h-19.77c-10.87,0-19.8.06-19.85.12-.03.06-.12,7.72-.18,17.03l-.1,16.91h56.87l-.03-10.28-.04-10.28-.52-.46c-.3-.27-1.64-1.41-3.01-2.57l-2.47-2.08,2.89-2.99,2.89-2.99V.3h-56.38v8.03ZM164.55,36.27c.54.79,1.09,1.62,1.23,1.84l.28.42h-31.42v-3.72h28.93l.97,1.46Z"/>
        <path class="cls-1" d="M203.23,8.63v8.33h57.42V.3h-57.42v8.33Z"/>
        <path class="cls-1" d="M333.17,7.07c-5.85,5.62-6.56,6.37-6.65,6.87-.06.31-.1,9.25-.1,19.86v19.31s22.06,0,22.06,0h22.06l6.2-6.31,6.19-6.31V.74h-43.22l-6.55,6.32ZM371.33,24.31v8.84l-3.63,2.84-3.64,2.84h-25.75v-17.78s3.75-2.8,3.75-2.8l3.73-2.78h25.54v8.84Z"/>
        <path class="cls-1" d="M6.74,26.45l-6.74,6.65v10.18s.01,10.18.01,10.18l17.3-.09c9.51-.06,22.42-.1,28.71-.1h11.41v-15.32l-21.42-.03-21.42-.04,1.44-1.68,1.46-1.68,19.9.1,19.89.09v-14.91H13.48s-6.74,6.66-6.74,6.66Z"/>
        <path class="cls-1" d="M223.61,36.67v16.88h16.66V19.79h-16.66v16.88Z"/>
        <path class="cls-1" d="M389.03,37.27v16.14h12.05v-15.03h3.5l12.84,5.58,12.82,5.58h3.57v3.72h5.27c2.89,0,5.56-.04,5.95-.09l.68-.1v-19.74h-15.08l-15.4-6.1-15.41-6.1h-10.79v16.14Z"/>
      </g>
    </g>
  </svg>
</template>

<style scoped>

</style>