<script setup>
const props = defineProps({
  fillClass: {
    type: String,
    default: 'fill-current'
  },
  hoverFillClass: {
    type: String,
    default: 'hover:fill-[#FF1E6F]'
  },
  strokeClass: {
    type: String,
    default: 'stroke-current'
  },
  hoverStrokeClass: {
    type: String,
    default: 'hover:stroke-[#FF1E6F]'
  },
  circleColor: {
    type: String,
    default: "#FF1E6F"
  },
  hoverCircleColor: {
    type: String,
    default: "#fff"
  }
});
</script>

<template>
  <svg
      width="483"
      height="139"
      viewBox="0 0 483 139"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      :class="[fillClass, strokeClass, hoverFillClass, hoverStrokeClass]"
  >
    <path d="M441.28 112.01C464.256 112.01 483 93.4175 483 70.2898C483 47.3133 464.256 28.5693 441.28 28.5693C418.303 28.5693 399.559 47.3133 399.559 70.2898C399.559 93.4175 418.303 112.01 441.28 112.01ZM441.28 93.871C428.28 93.871 417.698 83.4408 417.698 70.2898C417.698 57.29 428.28 46.7087 441.28 46.7087C454.279 46.7087 464.861 57.29 464.861 70.2898C464.861 83.4408 454.279 93.871 441.28 93.871Z"/>
    <path d="M393.782 110.348V91.7548C385.468 91.7548 381.236 85.1037 381.236 75.8829V0H363.096V76.1852C363.096 95.9873 375.038 110.348 393.782 110.348Z"/>
    <path d="M310.764 113.975C333.74 113.975 352.484 95.2314 352.484 72.2549C352.484 49.2784 333.74 30.5344 310.764 30.5344C287.636 30.5344 269.043 49.2784 269.043 72.2549V138.766H287.183V101.731C292.02 108.987 300.938 113.975 310.764 113.975ZM310.764 48.6738C323.764 48.6738 334.345 59.255 334.345 72.2549C334.345 85.2548 323.764 95.836 310.764 95.836C297.613 95.836 287.183 85.2548 287.183 72.2549C287.183 59.255 297.613 48.6738 310.764 48.6738Z"/>
    <path d="M216.587 112.01C239.563 112.01 258.307 93.4176 258.307 70.2899C258.307 47.3134 239.563 28.5695 216.587 28.5695C193.61 28.5695 174.866 47.3134 174.866 70.2899C174.866 93.4176 193.61 112.01 216.587 112.01ZM216.587 93.8711C203.587 93.8711 193.006 83.441 193.006 70.2899C193.006 57.2901 203.587 46.7088 216.587 46.7088C229.587 46.7088 240.168 57.2901 240.168 70.2899C240.168 83.441 229.587 93.8711 216.587 93.8711Z"/>
    <path d="M167.86 110.952V92.813C156.976 92.813 144.43 91.3014 144.43 74.2202V48.2204H163.93V30.0811H144.43V13.4534H126.29V30.0811H118.884V48.2204H126.29V78.3015C126.29 106.72 151.383 110.952 167.86 110.952Z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2062 95.3252C14.6972 95.857 15.2009 96.3813 15.7173 96.8978C36.6737 117.854 70.6507 117.854 91.6071 96.8978C112.564 75.9414 112.564 41.9643 91.6071 21.0079C91.0907 20.4915 90.5664 19.9878 90.0345 19.4969L14.2062 95.3252ZM85.3467 15.6338L10.3431 90.6373C9.03776 88.8572 7.85596 87.0149 6.79771 85.1221L79.8314 12.0884C81.7242 13.1466 83.5666 14.3284 85.3467 15.6338ZM74.0638 9.30502C71.843 8.39351 69.5735 7.63723 67.2718 7.03618L1.74553 72.5625C2.34659 74.8641 3.10286 77.1337 4.01437 79.3545L74.0638 9.30502ZM0.383226 65.3738L60.0832 5.67387C57.1868 5.32681 54.2677 5.21548 51.3567 5.33989L0.0492422 56.6473C-0.0751668 59.5583 0.0361611 62.4775 0.383226 65.3738ZM1.39925 46.7464L41.4557 6.6899C32.0233 8.88347 23.0691 13.6562 15.7173 21.0079C8.3655 28.3597 3.59282 37.314 1.39925 46.7464Z"/>
    <circle cx="70.29" cy="75.5805" r="14.3603" :fill="circleColor" :class="`hover:fill-[${hoverCircleColor}]`"/>
  </svg>
</template>

<style scoped>
</style>
